* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  /*background-image: linear-gradient(to bottom, gray, white);*/
  background-image: url(road.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.page-wrapper {
  font-size: 1.6em;
  max-width: 900px;
  background: linear-gradient(to bottom right, #ddd, white);
  opacity: 0.6;
}